<div class="hero-section">
  <div class="hero-content">
    <img src="assets/icon/cambiotecasimple.png" alt="Logo Cambioteca" class="hero-logo" />
    <h1>Intercambia libros fácil y rápido</h1>
    <p class="subtitle">Descubre, intercambia y da una segunda vida a tus libros favoritos.</p>

    <div class="hero-search">
      <form (ngSubmit)="searchBooks()">
        <input 
          type="text" 
          [(ngModel)]="searchTerm" 
          name="searchTerm"
          placeholder="Busca por título, autor o género...">
        <button type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" width="20px" height="20px"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
          Buscar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="catalog-section">
  <h2 *ngIf="isSearchActive">Resultados de la Búsqueda</h2>
  <h2 *ngIf="!isSearchActive">Explora Nuestro Catálogo</h2>

  <div *ngIf="isLoading" class="message-container">
    <p>Cargando libros...</p>
  </div>

  <div *ngIf="!isLoading && books.length === 0" class="message-container">
    <p *ngIf="isSearchActive">No se encontraron libros que coincidan con "<strong>{{ searchTerm }}</strong>".</p>
    <p *ngIf="!isSearchActive">Aún no hay libros en el catálogo. ¡Sé el primero en subir uno!</p>
  </div>

  <div class="book-grid" *ngIf="!isLoading && books.length > 0">
    <a *ngFor="let book of books" 
       [routerLink]="['/libros', book.id]" 
       class="book-card-link">

      <div class="book-card">
        <div class="book-image-placeholder">
           <img *ngIf="book.first_image" [src]="book.first_image" alt="Portada de {{ book.titulo }}">
           <span *ngIf="!book.first_image">Libro</span>
        </div>
        <div class="book-card-content">
          <h3>{{ book.titulo }}</h3>
          <p class="author">{{ book.autor }}</p>
          <div class="chips">
            <span class="chip-owner">Subido por: {{ book.owner_nombre }}</span>
          </div>
          <p class="date">Publicado: {{ book.fecha_subida | date:'short' }}</p>
        </div>
      </div>
      
    </a>
  </div>
</div>

<div class="about-us-section">
  <h2>Sobre Nosotros</h2>
  <p>
    Somos <strong>Cambioteca</strong>, un proyecto nacido en Chile por dos estudiantes de Duoc UC. Nuestra misión es fomentar la lectura y la cultura creando una comunidad solidaria donde los libros puedan tener múltiples vidas a través del intercambio.
  </p>
</div>