<header class="main-header">
  <div class="header-content">
    <a routerLink="/" class="logo">
      <img src="assets/icon/cambiotecasimple.png" alt="Logo Cambioteca">
      <span>Cambioteca</span>
    </a>

    <ng-container *ngIf="isAuthenticated$ | async as isAuthenticated">
      <nav>
        <!-- Menú para usuarios AUTENTICADOS -->
        <ng-container *ngIf="isAuthenticated; else loggedOutMenu">
          <a routerLink="/" class="nav-link">Catálogo</a>
          <a routerLink="/mis-libros" class="nav-link">Mis Libros</a>
          <a routerLink="/perfil" class="nav-link">Mi Perfil</a>

          <!-- El saludo ahora está agrupado con las acciones del usuario -->
          <div class="user-greeting" *ngIf="currentUser$ | async as user">
            ¡Hola, {{ user.nombre_usuario }}!
          </div>
          <button (click)="logout()" class="btn-logout">Cerrar Sesión</button>
        </ng-container>

        <!-- Menú para usuarios NO AUTENTICADOS -->
        <ng-template #loggedOutMenu>
          <a routerLink="/" class="nav-link">Catálogo</a>
          
          <a routerLink="/login" class="nav-link">Iniciar Sesión</a>
          <a routerLink="/registro" class="btn-register">Registrarse</a>
        </ng-template>
      </nav>
    </ng-container>
  </div>
</header>

